@nilmod {
	name: "ears head fix";
	description: "Fix player head rendering with Ears on 1.7";
	authors: "fall";
	version: "${version}";
}

entrypoints {
	premain: "hellfall.earsheadfix.EHFPremain";
}
